$font-family-abel: 'Abel', sans-serif;
$font-family-squada: 'Squada One', cursive;
$color-a: #a4d53c;
$color-b: #80ad21;
$color-c: #221e1f;
$color-d: #333333;
$color-e: #e8e466;
$color-f: #cbcc2b;
$color-g: #ff6b5b;
$color-h: #e03e39;
$color-i: #ffffff;
$color-j: #cccccc;

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('../img/bg_pattern.png');
	background-size: 132px 132px;
	font-family: Arial, sans-serif;
}

label{
	font-weight: bold;
}

h1{
	margin: 0 0 30px;
	font-family: $font-family-squada;
	font-size: 60px;
	text-align: center;
	color: $color-c;
}

h2{
	margin: 0 0 15px;
	font-family: $font-family-squada;
	font-size: 40px;
	color: $color-c;
}

p{
	margin: 0 0 10px;
}

footer{
	text-align: center;
}

#toggle-all,.toggle{
	display: inline-block;
	margin: -0.5em 0.5em 0 0;
	vertical-align: middle;
}

#todoapp{
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 0;
}

#new-todo{
	width: 100%;
	margin: 0 0 15px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid $color-c;
	font-size: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#new-deadline{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.new-label{
	display: inline-block;
	margin: 0 10px 0 0;
	font-family: $font-family-squada;
	font-size: 22px;
	color: $color-c;
}

.radio-list{
	list-style: none;
	margin: 0 0 15px;
	padding: 0;

	& > li{
		display: inline-block;
		position: relative;
		margin-right: 10px;
		padding-left: 20px;

		&:first-child{
			margin: 0;
			padding: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}

	input{
		position: absolute;
		left: 0;
		top: -0.2em;
	}
}

.save-paragraph{
	margin: 0 0 30px 0;
	text-align: right;
}

#new-save{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 10px;
	border-top: 1px solid $color-c;
	border-left: 1px solid $color-c;
	border-right: 1px solid $color-c;
	border-bottom: 3px solid $color-c;
	font-family: $font-family-squada;
	font-size: 22px;
	color: $color-c;
	text-decoration: none;
	background-color: $color-b;

	&:hover{
		background-color: $color-a;
		margin-top: 2px;
		border: 1px solid $color-c;
	}
}

.sort-btn{
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid $color-c;
	font-family: $font-family-squada;
	font-size: 20px;
	color: $color-c;
	text-decoration: none;
	background-color: $color-b;

	&:last-child{
		margin-right: 0;
	}

	&:hover{
		background-color: $color-a;
	}
}

#todo-list{
	list-style: none;
	margin: 20px 0 30px;
	padding: 0;
	border-top: 2px solid $color-d;
	border-left: 2px solid $color-d;
	border-right: 2px solid $color-d;

	& > li{
		margin: 0;
		padding: 10px;
		position: relative;
		background-color: $color-b;
		color: $color-c;
		border-bottom: 2px solid $color-d;
		font-size: 25px;

		&.priority1{
			background-color: $color-h;
		}

		&.priority1.done{
			background-color: $color-g;
		}

		&.priority2{
			background-color: $color-f;
		}

		&.priority2.done{
			background-color: $color-e;
		}

		&.priority3{
			background-color: $color-b;
		}

		&.priority3.done{
			background-color: $color-a;
		}
	}
}

.toggle{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.5em;
}

.deadline-wrapper{
	margin: 0;
}

.label-deadline{
	font-size: 18px;
}

.view{
	position: relative;
	padding-left: 25px;
}

.edit-title,
.edit-deadline,
.edit-radio-list,
.edit-save-paragraph{
	display: none;
}

.edit-radio-list{
	list-style: none;
	margin: 0 0 5px;
	padding: 0;

	& > li{
		display: inline-block;
		position: relative;
		margin-right: 10px;
		padding-left: 20px;
		font-size: 18px;

		&:last-child{
			margin-right: 0;
		}
	}

	input{
		position: absolute;
		left: 0;
		top: -0.2em;
	}
}

.edit-save-paragraph{
	margin: 0;
}

.edit-save{
	display: inline-block;
	padding: 5px 15px;
	border-radius: 10px;
	border: 1px solid $color-c;
	font-family: $font-family-squada;
	font-size: 18px;
	color: $color-c;
	text-decoration: none;
	background-color: $color-i;

	&:hover{
		background-color: $color-j;
	}
}

.destroy{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -14px;
	&:hover{
		opacity: .7;
		cursor: pointer;
	}
}

.editing{
	.edit-title,
	.edit-deadline{
		display: inline-block;
		font-size: 14px;
		vertical-align: middle;
	}
	.edit-radio-list,
	.edit-save-paragraph{
		display: block;
	}
	.label-deadline,
	.label-title{
		display: none;
	}
}

.todo-count{
	padding: 10px;
	border-radius: 5px;
	background-color: $color-d;
	color: $color-i;
	text-align: left;
}

#clear-completed{
	display: inline-block;
	margin: 0 0 15px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: $color-b;
	color: $color-c;
	border-top: 1px solid $color-c;
	border-left: 1px solid $color-c;
	border-right: 1px solid $color-c;
	border-bottom: 3px solid $color-c;
	font-size: 25px;
	font-family: $font-family-squada;
	text-align: center;

	&:hover{
		margin: 2px 0 15px;
		border: 1px solid $color-c;
		cursor: pointer;
		background-color: $color-a;
	}
}